@import './shared.scss';

.features-page {
    background-image: linear-gradient(to right, #5b81ec , #695bec);
    color: #ffffff;
    @media (min-width: 1300px) {
        .container {
            max-width: 1300px;
        }
    }
    .item-page {
        padding-top: $space0;
        padding-bottom: $space0;
    }
    .feature-icon {
        height: 70px;
        @media (max-width: 768px) {
            height: 50px;
        }
    }
    .text-medium {
        font-weight: 500;
        margin: $space2 0px;
    }
    .text-small {
        font-weight: 400;
    }
    .feature-item {
        padding-bottom: $space2;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}